@import "../../styles/index.scss";
@import "../../fonts/index.scss";

@media only screen and (min-width: 600px){
    .header-garage-modal{
        display: flex;
        border-block-end: 1px solid #f8f7f6;
        height: 120px;
        padding-block: 14px;
        padding-inline: 24px 14px;
        white-space: nowrap;         
    }
    .header-garage-left-title-item1{
        font-size: 12px;
    }
    .content{
        height: 317px;
        overflow: scroll
    }
    
    
    .header-garage-modal-footerr{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px auto;
        margin-top: 25px;
        background-color: $main;
        width: 300px;
        color: white;
        height: 60px;
        .garage-route-button{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            margin: 0px auto;
            background-color: $main;
            border: none;
            font-size: 24px;
            font-weight: 700;
            
        }
    }
    .header-garage-left{
        display: flex;
        flex-direction: column;
        .header-garage-left-title{
            display: flex;
            flex-direction: column;
            padding-bottom: 8px;
            .header-garage-left-title-item{
                font-weight: 600;
            }
        }
    }

    .garage-modal-header-title{
        font-size: 32px;
        font-weight: 800;
        color: $main;
        box-shadow: 0 2px 6px #00000029;
        padding-block: 6px 6px;
        padding-inline-start: 24px;
        border-block-end: 1px solid #f5f5f5;
    }
    .header{
        justify-content: center;
        display: flex;
        width: 100vw;
    }
    .navbar-dropdown {
        background-color: white;
        button{
            background-color: white;
        }
        ul {
          padding: 0;
          section {
            height: 100%;
          }
        }
      }
    .hamburger-menu{
        display: none;
    }
    .header-bar{
        display: flex;
        width: 100%;
    }
    .header-icon{
        display: flex
    }
    //style={{display:"flex",flexDirection:"column", justifyContent: "center", alignItems: "end",marginInlineStart:"20px" }}
    .header-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        margin-inline-start: 20px;
    }
    .header-left{
        justify-content: center;
        margin-left: 15px;
    }
    ul{
        list-style: none; 
        li:hover{
            color: $black;
        }
    }
    .bottom-links-item {
        color: #404040;
        cursor: pointer;
        
        padding: 10px 5px ;
        height: 28px;
        
        font-size: 12px;
        font-weight: 600;
        
        white-space: nowrap;
        &:hover{
            color: black;
        }
    }
    .bottom-links-itemm {
        color: #404040;
        cursor: pointer;
        height: 28px;
        font-size: 14px;
        font-weight: 400;
        padding: 1.1px 11.3px;
        white-space: nowrap;
        margin-bottom: 2px;
      
        &:hover{
            color: black;
        }
    }
    .language-bar  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       
        
        margin-bottom: 18px;
        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #404040;
            width: 40px;
            height: 25px;
            background-color: transparent;
            &:hover{
                color: #404040;
                background-color: white;
            }
            .rs-dropdown-menu {
                .rs-dropdown-item{
                text-decoration: none;
                color: #404040;
                
                .rs-dropdown-item-focus{
                    color: #404040;
                    &:focus{
                        color: #404040;
                    }
                }
            }
            }
        }
       
    }
    .top-links-item{
        color: rgb(142,142,147);
        font-family: $text-font;
        cursor:pointer;
        margin-left: 10px;
        line-height: 10px;
        &:hover{
            color: $black;
        }
    }
    .nav-menu{
        display: block;
        margin-right: -250px;
        visibility: hidden;
        transition: 0.5s;
    }
}
@media only screen and (max-width: 599px){
    .header{
        display: flex;
        width: 100vw;
        position: fixed;
        z-index: 9;
        justify-content: space-between;
    }
    
    .nav-menu{
        display: block;
        width: 100%;
        max-width: 250px;
        right: 0;
        height: 100vh;
        transition: 0.5s;
        position: fixed;
        z-index: 20;
        text-align: start;
        top: 60px;
        white-space:nowrap;
        background-color: white;
        color: black;
    }
    .header-left{
        float: left;
    }
    .header-right{
        display: none;
    }
    .hamburger-menu{
        display: flex;
        align-items: center;
    }
    .header-icon{
        display: none;
    }
    .language-bar{display: none;}
    .header-right{display: none;}
    
}
