@import "../../fonts/index.scss";

@media only screen and (min-width: 600px){
    //width:"100%",maxWidth:"1224px",backgroundColor:"white",padding:"30px",margin:"20px 0px",display:"flex",justifyContent:"space-between",alignItems:"center"}}
    .explain-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1245px;
        width: 100%;
        background-color: white;
        padding: 30px;
        
        margin: 0px;
        margin-left: 22px;
        margin-bottom: 61px;
    }
    .explain-title{
        font-family: $text-font;
    }
}

@media only screen and (max-width: 599px){
   .explain-container{
       display: flex;
       padding: 30px;
       margin-bottom: 40px;
       background-color: white;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 8px 16px 0px;
       flex-direction: column;
       align-items: center;
       width: 90%;
   }
}